$brand-primary: #e4d2cd;
$brand-secondary: #b3d4d3;
$black: #000000;
$white: #ffffff;
$grey: #808080;

$sans :'Open Sans', sans-serif;
$serif: 'Playfair Display SC', serif;

$header-h1-base-font: 'Playfair Display SC', serif;
$header-h2-base-font: 'Open Sans', sans-serif;
$header-h1-base-size: 2.3em;
$header-h2-base-size: 1em;

$base-font-size: 16px;

$base-spacing: 10px;
$double-base-spacing: 20px;

$small-font-size : 10px;

