//Item Block

.item {
  display: block;
  margin-bottom: $double-base-spacing;
  @media(min-width: 760px)  {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);

  }

}

.item__image {


  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;



}
.item__details {
  text-align: left;
  background-color: $brand-secondary;
  padding: $double-base-spacing;
  margin-bottom: $double-base-spacing;

}
.item__image--top {
  min-height: 300px;
  @media(min-width: 760px)  {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 6;
  }


}

.item__details--top {
  @media(min-width: 760px)  {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }

}

.item__image--bottom{
  min-height: 300px;
  @media(min-width: 760px)  {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 9;
    margin-left: -$double-base-spacing * 2;
    margin-right: $double-base-spacing * 2;
    z-index: 1;
  }


}

.item__details--bottom {

  @media(min-width: 760px)  {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 7;
    grid-row-end: 9;
    z-index: 2;
  }

}
.item__header {
  text-transform: uppercase;
  font-weight: bold;
}

.item__price-box {
  padding: $base-spacing;
  background-color: $brand-primary;
  @media(min-width: 760px)  {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    z-index: 3;
    margin: 0 -$double-base-spacing;
    margin-top: $double-base-spacing;
    padding: $double-base-spacing;
  }
}

.price-box__header {
  font-weight: bold;
}