.products.grid-0 {
  @media (min-width: 480px) {

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: $base-spacing;
  }
  @media (min-width: 600px) {
    grid-template-columns: repeat(1, 1fr 1fr);
  }
  @media (min-width: 760px) {


    grid-template-columns: repeat(3, 1fr);
    grid-gap: $double-base-spacing;
  }

  @media (min-width: 1000px) {


    grid-template-columns: repeat(4, 1fr);

  }



}