.products.grid-3 {

  @media (min-width: 760px) {

    display: grid;
    grid-template-columns: repeat(2, 2fr 1fr 1fr);
    grid-gap: $base-spacing;
  }

  .product__item:nth-child(1){


  }

  .product__item:nth-child(2){


  }

  .product__item:nth-child(3){


  }

  .product__item:nth-child(4){


  }

  .product__item:nth-child(5){



  }
  .product__item:nth-child(6){


  }


  .product__item:nth-child(7){


  }

  .product__item:nth-child(8){


  }

  .product__item:nth-child(9){



  }
  .product__item:nth-child(10){



  }
  .product__item:nth-child(11){



  }

  .product__item:nth-child(12){



  }

  .product__item:nth-child(13){



  }
  .product__item:nth-child(14){



  }

}