

.catalogue__about-block {

  @media(min-width: 760px)  {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: $double-base-spacing;
    height: 900px;
  }


}

.about-block__header {
  padding: 0 $double-base-spacing;
  @media(min-width: 760px)  {
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
  }


}



.about-block__intro-left {
  padding: 0 $double-base-spacing;
  @media(min-width: 760px)  {
    padding: 0;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }

}

.about-block__intro-right {
  padding: 0 $double-base-spacing;
  @media(min-width: 760px)  {
    padding: 0;
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
  }

}

.about-image-block {

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 300px;

  @media(min-width: 760px)  {
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 6;
  }



}

.about-block__vertical-title {

  position: relative;
  writing-mode: vertical-rl;
  text-orientation: sideways;
  height: 300px;
  width: 100px;


  transform:  rotate(180deg);
  text-align: center;
  background-color: rgba($brand-primary, 0.9);
  right: 0;

  @media(min-width: 760px)  {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    right: 50px;
  }



}

.about-block__header-title {
  font-family: $header-h2-base-font;
  font-size: $header-h1-base-size;
  font-weight: 300;
  text-transform: uppercase;
}

.about-block__header-subtitle {
  font-family: $header-h2-base-font;
  font-size: $header-h1-base-size;
  font-weight: 300;
  text-transform: uppercase;
  color: $brand-secondary;
}



