body {
  margin: 0 auto;


}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 $base-spacing;

  @media(min-width: 2400px)  {
    max-width: 2400px;
    display: grid;
    grid-template-columns: repeat(2, 1200px);
    grid-gap: $double-base-spacing;


  }

}


p {
  font-size: 14px;
  line-height: 21px;
}